---
title: Cowboy Costume Contest
sectionId: entries
---
<h1>Costume Contest Entries</h1>
<p>It's pretty simple. Win the costume contest, go to JSConf. Check out the entries so far.</p>
<ul class="clearfix">
{{#each entries}}
  <li>
    <h3><a href="http://twitter.com/#/{{this.twitter}}" target="_blank">{{this.firstName}} {{this.lastName}}</a></h3>
    <img src="{{this.photo}}" />
    {{#if ../votingOpen}}
    <a href="https://twitter.com/share?text=I just voted for @{{this.twitter}} for best costume at %23NotConf! %23notconfcontest" class="vote btn teal" target="_blank">Vote via Twitter</a>
    {{/if}}
  </li>
{{/each}}
</ul>
